/ {
    keymap {
        mouse {
			label = "Mouse";
			bindings = <
//                ╭─────┬─────┬─────┬─────┬─────┬─────╮                           ╭─────┬────────────────┬────────────────┬────────────────┬─────┬─────╮
//                │     │     │     │     │     │     │                           │     │                │  &mmv MOVE_up  │                │     │     │
//                ├─────┼─────┼─────┼─────┼─────┼─────┤                           ├─────┼────────────────┼────────────────┼────────────────┼─────┼─────┤
//                │     │     │     │     │     │     │                           │     │ &mmv MOVE_left │ &mmv MOVE_down │ &mmv MOVE_rght │     │     │
//                ├─────┼─────┼─────┼─────┼─────┼─────┼─────┬─────╮   ╭─────┬─────┼─────┼────────────────┼────────────────┼────────────────┼─────┼─────┤
//                │     │     │     │     │     │     │     │     │   │     │     │     │                │                │                │     │     │
//                ╰─────┴─────┴─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼────────────────┼────────────────┼────────────────┴─────┴─────╯
//                                  │     │     │     │     │     │   │     │     │     │                │                │
//                                  ╰─────┴─────┴─────┴─────┴─────╯   ╰─────┴─────┴─────┴────────────────┴────────────────╯
              ____   ____   ____   ____   ____   ____                                   ____   ____             &mmv MOVE_UP     ____              ____   ____
              ____   ____   ____   ____   ____   ____                                   ____   &mmv MOVE_LEFT   &mmv MOVE_DOWN   &mmv MOVE_RIGHT   ____   ____
              ____   ____   ____   ____   ____   ____   ____   ____       ____   ____   ____   ____             ____             ____              ____   ____
                                   ____   ____   ____   ____   ____       ____   ____   ____   ____             ____
            >;
        };
    };
};
